{% extends 'base.html' %}

{% block content %}

<div class="container" style="text-align:center;">
  <div class="about content">
    <h1>About</h1>
    <p>Post memes! Have fun! Comment and talk shit! Earn WOW!</p>
    <p>Quit your day job and become a full-time shitposter and memer!</p>
    <p>Commiserate with the gang in IRC, get high, and let your responsibilities fall to the wayside.</p>
    <p>Join the revolution!</p>
    <br />
    <br />
    <p>If you've made WOW from memes, please consider donating to our mod team - we work hard to ensure only the finest quality memes are shown for your viewing pleasure:</p>
    <p><strong>qvqc (top mod)</strong>: WW3rVRuwdB5Bb95mZuGpunguz7Ers3Gao6EGLYZ6z2uEA9RsYzbZN1rfT74gzEDxyfNSVcpnMvnUhZTLfjiE73eu29ErXTDi4</p>
    <p><strong>lza_menace (dev)</strong>: WW3CRUnpWnAQmXyr8rgd5qVneg3tTKbRrZu2qbTzjwMNEtvddodV2inPbRSGjcdRyHKVNsNkwWccjN6iKu1FAGr32hqKzikQP</p>
    <br />
    <br />
    <br />
  </div>
</div>

{% endblock %}
